In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('household_power_consumption.txt',sep=';')
print(df.head())

         Date      Time Global_active_power Global_reactive_power  Voltage  \
0  16/12/2006  17:24:00               4.216                 0.418  234.840
1  16/12/2006  17:25:00               5.360                 0.436  233.630
2  16/12/2006  17:26:00               5.374                 0.498  233.290
3  16/12/2006  17:27:00               5.388                 0.502  233.740
4  16/12/2006  17:28:00               3.666                 0.528  235.680

  Global_intensity Sub_metering_1 Sub_metering_2  Sub_metering_3
0           18.400          0.000          1.000            17.0
1           23.000          0.000          1.000            16.0
2           23.000          0.000          2.000            17.0
3           23.000          0.000          1.000            17.0
4           15.800          0.000          1.000            17.0

C:\Users\prate\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0
5,16/12/2006,17:29:00,3.520,0.522,235.020,15.000,0.000,2.000,17.0
6,16/12/2006,17:30:00,3.702,0.520,235.090,15.800,0.000,1.000,17.0
7,16/12/2006,17:31:00,3.700,0.520,235.220,15.800,0.000,1.000,17.0
8,16/12/2006,17:32:00,3.668,0.510,233.990,15.800,0.000,1.000,17.0
9,16/12/2006,17:33:00,3.662,0.510,233.860,15.800,0.000,2.000,16.0
10,16/12/2006,17:34:00,4.448,0.498,232.860,19.600,0.000,1.000,17.0
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.200,0.000,1.000,17.0
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.400,0.000,1.000,16.0
13,16/12/2006,17:37:00,5.268,0.398,232.910,22.600,0.000,2.000,17.0
14,16/12/2006,17:38:00,4.054,0.422,235.240,17.600,0.000,1.000,17.0
15,16/12/2006,17:39:00,3.384,0.282,237.140,14.200,0.000,0.000,17.0
16,16/12/2006,17:40:00,3.270,0.152,236.730,13.800,0.000,0.000,17.0
17,16/12/2006,17:41:00,3.430,0.156,237.060,14.400,0.000,0.000,17.0
18,16/12/2006,17:42:00,3.266,0.000,237.130,13.800,0.000,0.000,18.0
19,16/12/2006,17:43:00,3.728,0.000,235.840,16.400,0.000,0.000,17.0
20,16/12/2006,17:44:00,5.894,0.000,232.690,25.400,0.000,0.000,16.0
21,16/12/2006,17:45:00,7.706,0.000,230.980,33.200,0.000,0.000,17.0
22,16/12/2006,17:46:00,7.026,0.000,232.210,30.600,0.000,0.000,16.0
23,16/12/2006,17:47:00,5.174,0.000,234.190,22.000,0.000,0.000,17.0
24,16/12/2006,17:48:00,4.474,0.000,234.960,19.400,0.000,0.000,17.0
25,16/12/2006,17:49:00,3.248,0.000,236.660,13.600,0.000,0.000,17.0
26,16/12/2006,17:50:00,3.236,0.000,235.840,13.600,0.000,0.000,17.0
27,16/12/2006,17:51:00,3.228,0.000,235.600,13.600,0.000,0.000,17.0
28,16/12/2006,17:52:00,3.258,0.000,235.490,13.800,0.000,0.000,17.0
29,16/12/2006,17:53:00,3.178,0.000,235.280,13.400,0.000,0.000,17.0
...,...,...,...,...,...,...,...,...,...
2075229,26/11/2010,20:33:00,0.978,0,240.28,4,0,1,0.0
2075230,26/11/2010,20:34:00,0.968,0,237.57,4,0,1,0.0
2075231,26/11/2010,20:35:00,0.96,0,238.01,4,0,1,0.0
2075232,26/11/2010,20:36:00,0.964,0,238.07,4,0,1,0.0
2075233,26/11/2010,20:37:00,0.98,0,237.9,4.2,0,1,0.0
2075234,26/11/2010,20:38:00,0.976,0.096,236.97,4,0,2,0.0
2075235,26/11/2010,20:39:00,0.984,0.1,238.16,4.2,0,1,0.0
2075236,26/11/2010,20:40:00,0.986,0.102,238.92,4.2,0,1,0.0
2075237,26/11/2010,20:41:00,0.99,0.106,239.57,4.2,0,1,0.0
2075238,26/11/2010,20:42:00,0.988,0.106,239.6,4.2,0,1,0.0
2075239,26/11/2010,20:43:00,0.988,0.106,239.64,4.2,0,1,0.0
2075240,26/11/2010,20:44:00,0.982,0.102,238.69,4,0,1,0.0
2075241,26/11/2010,20:45:00,0.972,0.092,238.32,4,0,2,0.0
2075242,26/11/2010,20:46:00,0.908,0,238.53,3.8,0,1,0.0
2075243,26/11/2010,20:47:00,0.91,0,238.71,3.8,0,1,0.0
2075244,26/11/2010,20:48:00,0.912,0,239.25,3.8,0,1,0.0
2075245,26/11/2010,20:49:00,0.948,0,238.16,4,0,1,0.0
2075246,26/11/2010,20:50:00,1.198,0.128,238.11,5,0,1,0.0
2075247,26/11/2010,20:51:00,1.024,0.106,238.84,4.2,0,1,0.0
2075248,26/11/2010,20:52:00,0.946,0,239.05,4,0,0,0.0
2075249,26/11/2010,20:53:00,0.944,0,238.72,4,0,0,0.0
2075250,26/11/2010,20:54:00,0.946,0,239.31,4,0,0,0.0
2075251,26/11/2010,20:55:00,0.946,0,239.74,4,0,0,0.0
2075252,26/11/2010,20:56:00,0.942,0,239.41,4,0,0,0.0
2075253,26/11/2010,20:57:00,0.946,0,240.33,4,0,0,0.0
2075254,26/11/2010,20:58:00,0.946,0,240.43,4,0,0,0.0
2075255,26/11/2010,20:59:00,0.944,0,240,4,0,0,0.0
2075256,26/11/2010,21:00:00,0.938,0,239.82,3.8,0,0,0.0
2075257,26/11/2010,21:01:00,0.934,0,239.7,3.8,0,0,0.0
2075258,26/11/2010,21:02:00,0.932,0,239.55,3.8,0,0,0.0

In [5]:
print(df.shape[1])

9

In [50]:
pd.to_datetime(df['Date'][0]+ ' '+df['Time'][0]).timestamp()

1166270040.0

In [49]:
pd.to_datetime(df['Date'][1]+ ' '+df['Time'][1]).timestamp()

1166270100.0

In [8]:
df['Timestamp']=pd.to_datetime(df['Timestamp'])

KeyboardInterrupt:

In [7]:
df['Timestamp']

0          16/12/2006 17:24:00
1          16/12/2006 17:25:00
2          16/12/2006 17:26:00
3          16/12/2006 17:27:00
4          16/12/2006 17:28:00
5          16/12/2006 17:29:00
6          16/12/2006 17:30:00
7          16/12/2006 17:31:00
8          16/12/2006 17:32:00
9          16/12/2006 17:33:00
10         16/12/2006 17:34:00
11         16/12/2006 17:35:00
12         16/12/2006 17:36:00
13         16/12/2006 17:37:00
14         16/12/2006 17:38:00
15         16/12/2006 17:39:00
16         16/12/2006 17:40:00
17         16/12/2006 17:41:00
18         16/12/2006 17:42:00
19         16/12/2006 17:43:00
20         16/12/2006 17:44:00
21         16/12/2006 17:45:00
22         16/12/2006 17:46:00
23         16/12/2006 17:47:00
24         16/12/2006 17:48:00
25         16/12/2006 17:49:00
26         16/12/2006 17:50:00
27         16/12/2006 17:51:00
28         16/12/2006 17:52:00
29         16/12/2006 17:53:00
                  ...
2075229    26/11/2010 20:33:00
2075230    26/11/2010 20:34:00
2075231    26/11/2010 20:35:00
2075232    26/11/2010 20:36:00
2075233    26/11/2010 20:37:00
2075234    26/11/2010 20:38:00
2075235    26/11/2010 20:39:00
2075236    26/11/2010 20:40:00
2075237    26/11/2010 20:41:00
2075238    26/11/2010 20:42:00
2075239    26/11/2010 20:43:00
2075240    26/11/2010 20:44:00
2075241    26/11/2010 20:45:00
2075242    26/11/2010 20:46:00
2075243    26/11/2010 20:47:00
2075244    26/11/2010 20:48:00
2075245    26/11/2010 20:49:00
2075246    26/11/2010 20:50:00
2075247    26/11/2010 20:51:00
2075248    26/11/2010 20:52:00
2075249    26/11/2010 20:53:00
2075250    26/11/2010 20:54:00
2075251    26/11/2010 20:55:00
2075252    26/11/2010 20:56:00
2075253    26/11/2010 20:57:00
2075254    26/11/2010 20:58:00
2075255    26/11/2010 20:59:00
2075256    26/11/2010 21:00:00
2075257    26/11/2010 21:01:00
2075258    26/11/2010 21:02:00
Name: Timestamp, Length: 2075259, dtype: object